# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data & Keys
docker/data/*.parquet
docker/data/*.csv
keys/*.jsoncd ,